@charset "UTF-8";
* {
  -webkit-appearance: none;
}
*{
  margin: 0px;
  padding: 0px;
}

body{
font-family: arial;
/*font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;*/
/*background-color: yellow;*/
/*min-width: 920px;*/

}

/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px; }
.img{
  width: 200px;
}
.site-header {
  position: relative;
  background-color:#fbf9fa;
  /*background-color: #a9b1bc;*/
  /*background-color: #dbdfe3;*/
  /*background-color: #42020294;*/
  box-shadow: 0 0 3px 3px #fbf9fa;
}
.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #818b9f;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #818b9f;
  border: dashed 1px #FFF;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }
 
@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    /*background-color: #fbf9fa;*/
    /*background-color: #a9b1bc;*/
    background-color: #dbdfe3;


    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }
 
.nav__item a {
  display: block;
  padding: 1.5rem 1rem; }
 
.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }

